<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About - Kidney Stone Prediction</title>
  <link rel="stylesheet" href="static/index.css">
</head>
<body>

    <header>
        <nav class="navbar">
          <div class="nav-container">
            <a href="/" class="navbar-brand">Kidney Stone Prediction</a>
            <div class="nav-links">
              <a href="/">Home</a>
              <a href="{{ url_for('about') }}">About</a>
              <a href="/contact">Contact</a>
            </div>
          </div>
        </nav>
      </header>

    <main>
      <section class="Section1">
        <div class="Section1-div">
            <h3 class="Section1-div-h3"><strong>About Kidney Stone Prediction</strong></h3>
            <p class="para para1">
                content to add
              </p>
            <p class="para para2">
               content to add
            </p>
        </div>
    </section>

    <section class="Section2">
      <div class="Section2-div1">
          <p class=" para"><h2 class="Section2-div1-h2">What is Kidey Stone Prediction</h2> 
              <ul>
                  <li class="para l1">What it is and why it matters?</li> 
                  <li class="para l2">What we're trying to solve.</li> 
                  <li class="para l3">How It Works</li> 
                  <li class="para l4">Disclaimer (Important for medical tools)</li> 

              </ul></p>
              <h2 style="font-size: 26px;">How we provide this?</h2> 
              <p class="para para4">Take a tour to explore our website.</p>

              <!-- info about the application------------------------------------------- -->
              <h2 class="info-h2">contents to add</h2>
              <p class="para para16">contents to add
              </p>
              <h2 class="info-h2">contents to add</h2>
              <p class="para para17">contents to add
              </p>
              <h2 class="info-h2">contents to add</h2>
              <p class="para para18">content to add</p>
              <h2 class="info-h2">contents to add</h2>
              <p class="para para19">contents to add
              </p>
          </div>
  </section>

    <footer class="footer">
        <div class="footer-content">
          <div class="footer-links">
            <a href="/privacy" class="footer-btn">Privacy Policy</a>
            <a href="/terms" class="footer-btn">Terms of Service</a>
            <a href="/contact" class="footer-btn">Contact Us</a>
          </div>
          <p class="copyright">&copy;2025 Kidney Stone AI Predictor. All rights reserved.</p>
        </div>
    </footer>
  </div>
</body>
</html>
