<!DOCTYPE html>
<html>
<head>
  <title>Kidney Stone Prediction</title>
  <link rel="stylesheet" href="static/index.css">
</head>
<body>

  <header>
    <nav class="navbar">
      <div class="nav-container">
        <a href="/" class="navbar-brand">Kidney Stone Prediction</a>
        <div class="nav-links">
          <a href="{{ url_for('about') }}">About</a>
          <a href="/contact">Contact</a>
        </div>
      </div>
    </nav>
  </header>



  <section class="Sec Section1-index">
    <div class="Section1-content"><img src="static\photos\cover.jpg">
      <p>Welcome to the Kidney Stone Prediction System</p>
      
    </div>
  </section>

  <section class="Sec Section2-index">
   <h2>Upload CT Scan Image</h2>

   <form class="form" action="/predict" method="POST" enctype="multipart/form-data">
     <input type="file" name="image" required>
      <button type="submit">Predict</button>
   </form>
  

 
   {% if result %}
    <section class="result-section">
     <div class="result-box">
      <h3>Prediction Result:</h3>
       <p>{{ result }}</p>
     </div>
    </section>
   {% endif %}
  </section>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-links">
        <a href="/privacy" class="footer-btn">Privacy Policy</a>
        <a href="/terms" class="footer-btn">Terms of Service</a>
        <a href="/contact" class="footer-btn">Contact Us</a>
      </div>
      <p class="copyright">&copy;2025 Kidney Stone AI Predictor. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
