<!DOCTYPE html>
<html>
<head>
  <title>Kidney Stone Prediction</title>
  <link rel="stylesheet" href="static/index.css">
</head>
<body>

  <header>
    <nav class="navbar">
      <div class="nav-container">
        <a href="/" class="navbar-brand">Kidney Stone Prediction</a>
        <div class="nav-links">
          <a href="{{ url_for('about') }}">About</a>
        </div>
      </div>
    </nav>
  </header>


  <section class="Sec Section1-index">
    <div class="Section1-content">
      <h1><p class ="Section1-index-p"><strong>Welcome to the Kidney Stone Prediction System</strong></p></h1>
      <p class="Section1-index-p2"><i><b>Your good health is our priority</b></i></p>
    </div>
  </section>  

<div class="div-container">
  <section class="Sec Section2-index">
    <div class="Section2-index-div1">
     <h2>Upload CT Scan Image</h2>

    <form id="predict-form" enctype="multipart/form-data">
      <input type="file" name="image" required>
        <button type="submit">Predict</button>
    </form>
    
    <section class="result-section" id="prediction-result" style="display: none;">
      <div class="result-box">
        <h3 class="para">Prediction Result:</h3>
        <p class="para" id="result-text"></p>
      </div>
    </section>
    
      </div>
  </section>

  <section class="Sec Section2-index">
    <div class="Section2-index-div1">
      <p id="typing-text"></p>
    </div>
  </section>
</div>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-links">
        <a href="{{ url_for('privacypolicy') }}" class="footer-btn">Privacy Policy</a>
        <a href="{{ url_for('termscondition') }}" class="footer-btn">Terms of Service</a>
        <a href="{{ url_for('contactus') }}" class="footer-btn">Contact Us</a>
      </div>
      <p class="copyright">&copy;2025 Kidney Stone AI Predictor. All rights reserved.</p>
    </div>
    </div>
  </footer>

  <script>
    const text = "On the left side is where we will be analyzing your data.\nMake sure you enter a valid input.";
    const target = document.getElementById("typing-text");
    let index = 0;
  
    function typeChar() {
      if (index < text.length) {
        target.textContent += text.charAt(index);
        index++;
        setTimeout(typeChar, 50);
      } 
      else 
      {
        target.style.animation = 'none';
      }
    }
    window.onload = typeChar;
  </script>

  <script src="{{ url_for('static', filename='index.js') }}"></script>

  
</body>
</html>
